<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/dev.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Fake News Challenge</title>
  </head>

  <body>
        <div class='container page-header' style='text-align: center; width: 100%; margin: 20px auto;'>
        <h1>Post-facto Fake News Challenge</h1>
          <div style='margin: 20px 0 0 0; width: 100%'>
            <nav class="navbar navbar-light bg-faded">
              <div class='nav navbar-nav'>
              <div class="btn-group" style='float:none; margin: 0 auto;'>
                <a class="nav-item nav-link btn btn-default" 
                   href='https://docs.google.com/forms/d/e/1FAIpQLSfJAMXy_iOXnfh-m6jbsbRAm0xwFUlQRD5VWLyuExq2rD0GmQ/viewform'>
                  Register a team</a>
                <a class="nav-item nav-link btn btn-default" href="https://github.com/FakeNewsChallenge">Our Github repositories</a>
                <a class="nav-item nav-link btn btn-default" href="https://fakenewschallenge-inviter.herokuapp.com/">Join the Slack</a>
              </div>
              </div>
              </div>
            </nav>
          </div>
   
    
        <hr>
        <div id='main_body'>
        {{ content }}
    </div>
  </body>
</html>
